#hero-banner
  %legend
    %h1= t(:steps_to_escrow)

= form_for :steps, url: itps_escrow_steps_path(@escrow.permalink) do |f|
  %fieldset#cookie-crumbs
    %ol
      %li= link_to t(:contract_overview), itps_escrow_path(@escrow.permalink)
      %li= link_to t(:new_step)
  %fieldset
    %h3= t(:step_information)
    %dl
      %dt= f.label :title, t(:step_name)
      %dd= f.text_field :title
      %dt= f.label :instructions
      %dd= f.text_area :instructions
      %dt= f.label :payment_step, t(:payment_step)
      %dd= f.check_box :payment_step
    %p Please provide a reasonable title and some instructions to specify this step or term. Although the payment step happens last in an escrow agreement, you may specify the payment step to happen earlier (or multiple times) as appropriate in your particular application.
  %fieldset
    %h3= t(:required_documents)
    %dl
      %dt= f.label :document_name, t(:document_name)
      %dd= f.text_field :document_name
      %dt= f.label :document_description, t(:document_description)
      %dd= f.text_area :document_description
    %p Specify whatever document proof this step may require. If you don't put anything here right now, you may do so later on the step's page.
  %fieldset
    %section
      = button_tag type: :submit do
        %i.submit
        = t(:submit)
      = link_to itps_escrow_path(@escrow.permalink), type: :reset do
        %i.reset
        = t(:cancel)
