%figure.bank_account
  %h5= t(:default_bank)
  %dl
    %dt= t(:bank_name)
    %dd= bank_account.bank_name
    %dt= t(:routing_number)
    %dd= bank_account.routing_number
    %dt= t(:account_number)
    %dd= bank_account.account_number