%li
  %article{ :class => step.status }
    = link_to itps_step_path(step.permalink) do
      %h4
        %i
        %span.colon
          = t(:step)
          = step.position
        = step.title
        - if step.pay_step?
          %span.parantheses= t(:payment_step) 
    = link_to itps_step_path(step.permalink), method: :delete do
      %figure
        %i.destroy
  %article
    = link_to itps_step_path(step.permalink) do
      %dl
        %dt= t(:status)
        %dd= t step.status
        %dt= t(:instructions)
        %dd= step.instructions
      %dl
        %dt= t(:required_documents)
        %dd= step.required_documents_presentation
      %dl
        %dt= t(:approved_documents)
        %dd= step.approved_documents_presentation
        %dt= t(:rejected_documents)
        %dd= step.rejected_documents_presentation