#hero-banner
  %section
    = link_to itps_escrow_path(@escrow.permalink) do
      %h1= t(:back_to_escrow)

#escrow-edit-content
  #cookie-crumbs
    %ol
      %li= link_to t(:escrow), itps_escrow_path(@escrow.permalink)
      %li= link_to t(:edit), edit_itps_escrow_path(@escrow.permalink)
  = form_for @escrow, url: itps_escrow_path(@escrow.permalink), method: :put do |f|
    %fieldset
      %section
        %h3= t(:payment_details)
        %dl
          %dt= f.label :dollar_amount, t(:payment_amount)
          %dd= f.number_field :dollar_amount, maximum: 0
      %section
        %p Please enter a valid dollar value.
        = render partial: 'itps/shared/errors', locals: { errors: @escrow.errors }
    %fieldset
      %section
        = button_tag type: :submit do
          %i.submit
          = t(:confirm)
        = link_to itps_escrow_path(@escrow.permalink), type: :reset do
          %i.reset
          = t(:cancel)
