#hero-banner
  %legend
    %h1= t(:open_escrow_form)

= form_for @form_helper, url: itps_escrows_path do |f|
  %fieldset
    %h3= t(:paying_party_details)
    %article
      %dl
        %dt= f.label :paying_company_name, t(:company_name)
        %dd= f.text_field :paying_company_name
        %dt= f.label :paying_company_email, t(:email)
        %dd= f.email_field :paying_company_email
      %dl
        %dt= f.label :drafted_by_paying, t(:your_are_the_paying_party)
        %dd= f.radio_button :drafted_by_paying, true, checked: true
    %article
      %p The paying party is the party who will fund the mutual escrow account at the beginning of the contract activation.
  %fieldset
    %h3= t(:working_party_details)
    %article
      %dl
        %dt= f.label :working_company_name, t(:company_name)
        %dd= f.text_field :working_company_name
        %dt= f.label :working_company_email, t(:email)
        %dd= f.email_field :working_company_email
      %dl
        %dt= f.label :drafted_by_paying, t(:your_are_the_service_party)
        %dd= f.radio_button :drafted_by_paying, false
    %article
      %p The working party, also known as the service or goods party, will provide the agreed to services or goods after the escrow account has been funded.
  %fieldset
    %section
      = button_tag type: :submit do
        %i.submit
        = t(:next)
      = button_tag type: :reset do
        %i.reset
        = t(:cancel)
