#hero-banner
  %section
    .link-icon{ data: { hover: { show: '.international', hide: '.domestic' } } }
      - if user_signed_in?
        - out_link = new_itps_buy_international_path
      - else
        - out_link = itps_account_redirect_path(back: new_itps_buy_international_path)
      = link_to out_link do
        %figure
          %i.fa-globe
        = t(:international_purchase_contract)
    .link-icon{ data: { hover: { show: '.domestic', hide: '.international' } } }
      - if user_signed_in?
        - out_link = new_itps_buy_domestic_path
      - else
        - out_link = itps_account_redirect_path(back: new_itps_buy_domestic_path)
      = link_to out_link do
        %figure
          %i.fa-truck
        = t(:domestic_purchase_contract)

.bg-1
  .container
    .row
      .international.explanation
        %h3
          = t(:for_purchasing_goods_across_long_distances)
        %p
          = t(:choose_this_option_if_you_will_be_shipping_overseas_and_will_require_steamship_transport_service)
      .domestic.explanation
        %h3
          = t(:for_domestic_shipping_via_local_trucks)
        %p
          = t(:choose_this_option_if_you_do_not_require_overseas_transportation)