= content_for :sidebar do
  = render 'spree/shared/sidebar', actives: ["materials", params[:cat]] 

#listing-classifications
  %h2= t(:listings)
  - if "material" == params[:cat]
    = render partial: 'spree/listings/index/material', collection: Spree::Material.all
  - if "location" == params[:cat]
    = render partial: 'spree/listings/index/location', locals: { handler: @query_handler }
  - if "company" == params[:cat]
    = render partial: 'spree/listings/index/company', locals: { handler: @query_handler }
    
#listings
  = render partial: 'spree/listings/index/listing', collection: @listings

#pagination
  = paginate @listings