.parties.row
  %h2
    Section II.
    Parties
  %p This is a contract between 3 parties: SELLER, BUYER, and ESCROW AGENT

#seller-party.row
  %h3
    Article A.
    Seller -
    = 'WoodSales USA Inc.'
  %dl
    %dt= t(:address)
    %dd 1234 Fake Street, Camarillo CA 93010
    %dt= t(:phone)
    %dd 555 123 1234
    %dt= t(:email)
    %dd wood4u@example.org
  %p 
    The following individual(s) represents the Seller
  %dl
    %dt= t(:name)
    %dd Lumbar Jack
    %dt= t(:position)
    %dd Director

#buyer-party.row
  %h3
    Article B.
    Buyer -
    = 'Lumber Buyer China Corp.'
  %dl
    %dt= t(:address)
    %dd 66 Lucky Dragon Way, Hong Kong, China
    %dt= t(:phone)
    %dd 86 3455 123 1234
    %dt= t(:email)
    %dd lumber2me@example.org
  %p
    The following individual(s) represents the Buyer
  %dl
    %dt= t(:name)
    %dd Mu Toe
    %dt= t(:position)
    %dd Director of Sales
