%ul.nav.nav-stacked
  %li= link_to t(:actions)
  / Section I
  %li
    = link_to t(:foreward)
    %ul.nav.nav-stacked
      %li= link_to t(:overview)
      %li= link_to t(:appointment_of_escrow_agent)
      %li= link_to t(:objection)
      %li= link_to t(:final_distribution)
  / Section II
  %li
    = link_to t(:parties)
    %ul.nav.nav-stacked
      %li= link_to t(:seller)
      %li= link_to t(:buyer)
  / Section III
  %li
    = link_to t(:terms_of_sales)
    %ul.nav.nav-stacked
      %li= link_to t(:price_terms)
      %li= link_to t(:risk_and_responsibilities)
  / Section IV
  %li
    = link_to t(:terms_of_payment)
    %ul.nav.nav-stacked
      %li= link_to t(:required_documents)
      %li= link_to t(:deductions)
      %li= link_to t(:additions)
      %li= link_to t(:assembled_documents_completion)
  / Section V
  %li
    = link_to t(:terms_of_cancellation)
    %ul.nav.nav-stacked
      %li= link_to t(:preloading_cancellation)
      %li= link_to t(:prereturn_cancellation)
      %li= link_to t(:postreturn_cancellation)
  / Section VI
  %li
    = link_to t(:breach_of_contract)
    %ul.nav.nav-stacked
      %li= link_to t(:general_damages)
      %li= link_to t(:consequential_damages)
      %li= link_to t(:reliance_damages)
  / Section VII
  %li= link_to t(:fees)
  / Section VIII
  %li= link_to t(:arbitration)
  / Section IX
  %li= link_to t(:capacity)
  / Section X
  %li= link_to t(:mutual_consent)
  %li= link_to t(:actions)