%ul
  %li= link_to t(:actions)
  %li
    = link_to t(:foreward)
    %ul
      %li= link_to t(:overview)
      %li= link_to t(:executive_summary)
      %li= link_to t(:jurisdiction)
  %li
    = link_to t(:parties)
    %ul
      %li= link_to t(:seller)
      %li= link_to t(:buyer)
      %li= link_to t(:escrow_holder)
  %li
    = link_to t(:terms_of_sales)
    %ul
      %li= link_to t(:commodities)
      %li= link_to t(:price_terms)
  %li
    = link_to t(:terms_of_payment)
    %ul
      %li= link_to t(:required_documents)
      %li= link_to t(:duration_of_payment)
      %li= link_to t(:escrow_fees)
  %li
    = link_to t(:terms_of_cancellation)
    %ul
      %li= link_to t(:cancellation_conditions)
      %li= link_to t(:cancellation_fees)
  %li
    = link_to t(:breach_of_contract)
    %ul
      %li= link_to t(:general_damages)
      %li= link_to t(:consequential_damages)
      %li= link_to t(:reliance_damages)
  %li= link_to t(:arbitration)
  %li= link_to t(:capacity)
  %li= link_to t(:mutual_consent)
  %li= link_to t(:actions)