- v = view_helper
.terms.row
  %h2
    Section V.
    Terms of Cancellation
  %p
    Cancellation of contract can occur at the discretion of either BUYER or SELLER at any time before the releasing of ESCROW CREDIT to the SELLER. Cancellation ensures a portion of the funds paid to the Escrow Agent be returned to the BUYER and the sold commodities return and restocked to the SELLER subject to the damages and fees outlined in this section.

#preloading-cancellation.row
  %h3
    Article A.
    Preloading Cancellation
  %p
    Define the span of time until the SELLER has begun loading any container as the 
    %strong Preloading Time.
  %p
    During Preaction Time, either BUYER or SELLER may cancel this contract without incurring damages or fees. If the Buyer has already funded the ESCROW FUND, the ESCROW FUNDS may be left with GTPC for future application to other contracts or returned to the BUYER via standard desposit or wire at the BUYER's request. The BUYER is responsible for any incurred bank-related wire fees.

#prereturn-cancellation.row
  %h3
    Article B.
    Prereturn Cancellation
  %p
    Define the span of time after the SELLER has begun loading the first container but before the first container has been returned to terminal as the
    %strong Prereturn Time.
  %p
    During Prereturn Time, any cancellation of the contract will result in damages. The compensation of these damages, including trucking carriage fees, seller restocking fees, inspection fees, escrow fees, etc., will be paid by solely the party at fault. Any payment by the non-fault party is strictly at his discretion.
  %p
    If both parties are at fault (a.k.a. split fault), the BUYER agrees to pay the associated ESCROW FEES to GTPC 
    = link_to '(Section VII - Fees)'
    and $125 per container the SELLER has on hand set aside for loading goods for the BUYER as restocking fee.

#postreturn-cancellation.row
  %h3
    Article C.
    Postreturn Cancellation
  %p
    Define the span of time after the SELLER has returned any container back to the terminal but before the releasing of ESCROW CREDIT as the
    %strong Postreturn Time
  %p
    During Postreturn Time, any cancellation of the contract will result in even greater damages. THe compensation for these damages, including trucking carriage fees, seller restocking fees, inspection fees, escrow fees, container retrieval fees, etc., will be paid by solely the part at fault. Any payment by the non-fault party is strictly at his discretion.
  %p
    If both parties are at fault (a.k.a split fault), the BUYER agrees to pay the associated ESCROW FEES to GTPC 
    = link_to '(Section VII - Fees)'
    and $125 per container the SELLER has on hand set aside for loading goods for the BUYER as restocking fee and half the cost of retrieving all the containers from terminal.

- if view_helper.days_seller_has_to_load.present?
  #overdue-cancellation.row
    %h3
      Article D.
      Overdue Cancellation
    %p 
      Upon the BUYER fully funding the ESCROW ACCOUNT, the SELLER has
      %strong
        = view_helper.days_seller_has_to_load
        = t(:days)
      to begin loading the container(s). If after there has been no container activity after
      %strong
        = view_helper.days_seller_has_to_load
        = t(:days)
      the BUYER reserves the right to cancel this contract with the SELLER at fault.