#hero-banner
  %section
    %h1
      International Purchase Contract

#content-box.container
  #cookie-crumbs
    %ol
      %li= link_to t(:my_account), itps_account_path(current_account.permalink)
      %li= link_to t(:draft_review), edit_itps_draft_review_path(@contract.draft.permalink)
      %li
        = t(:contract)
        = '#'
        = @contract.bullshit_id

  .row
    #contents
      #actions1.actions.row
        .action.thumbnail
          = link_to edit_itps_draft_review_path(@contract.draft.permalink) do
            %figure
              %i.fa-chevron-left
            = t(:back)
        .action.thumbnail
          = link_to new_itps_contract_agreement_path(@contract.bullshit_id) do
            %figure
              %i.fa-linux
            = t(:agreement)
      = render partial: 'itps/contracts/contract_core', locals: { view_helper: @view_helper }
      #actions2.actions.row
        .action.thumbnail
          = link_to '#back' do
            %figure
              %i.fa-chevron-left
            = t(:back)
        .action.thumbnail
          = link_to new_itps_contract_agreement_path(@contract.bullshit_id) do
            %figure
              %i.fa-linux
            = t(:agree_and_sign)
    #table-of-contents
      = render partial: 'itps/contracts/table_of_contents'



