#hero-banner
  %section
    %h1
      International Purchase Contract

#content-box.container
  #cookie-crumbs
    %ol
      %li= link_to t(:my_account), itps_account_path(1)
      %li Contract#12313

  .row
    #contents
      #actions1.actions.row
        .action.thumbnail
          = link_to '#back' do
            %figure
              %i.fa-chevron-left
            = t(:back)
        .action.thumbnail
          = link_to '#agreement' do
            %figure
              %i.fa-linux
            = t(:agreement)
      %section#foreward.row
        = render partial: 'itps/contracts/foreward'
      %section#parties
        = render partial: 'itps/contracts/parties'
      %section#terms-of-sales
        = render partial: 'itps/contracts/terms_of_sales'
      %section#terms-of-payment
        = render partial: 'itps/contracts/terms_of_payment'
      %section#terms-of-cancellation
        = render partial: 'itps/contracts/terms_of_cancellation'
      %section#fees
        = render partial: 'itps/contracts/fees'
      #actions2.actions.row
        .action.thumbnail
          = link_to '#back' do
            %figure
              %i.fa-chevron-left
            = t(:back)
        .action.thumbnail
          = link_to '#agreement' do
            %figure
              %i.fa-linux
            = t(:agree_and_sign)
    #table-of-contents
      = render partial: 'itps/contracts/table_of_contents'



