#hero-banner
  %section
    %h1= t(:my_account_profile)

#account-stuff
  %section
    #table-of-contents
      %ul
        %li= link_to t(:basics), '#basics'
        %li= link_to t(:bank_accounts), '#bank-accounts'
        %li= link_to t(:actions), '#actions'
        %li
          = link_to t(:contracts), '#contracts'
          %ul
            %li= link_to t(:active_contracts), '#contracts-active'
            %li= link_to t(:in_progress_contracts), '#contracts-in-progress'
            %li= link_to t(:archived_contracts), '#contracts-archived'
        %li= link_to t(:preferences), '#preferences'
        %li= link_to t(:logout), destroy_user_session_path(back: itps_path), method: :delete

    #meat-and-bones
      #basics
        %h3
          = t(:basic_information)
          = link_to t(:edit), edit_itps_party_path(@account.party)
        %dl
          %dt= t(:company_name)
          %dd= @account.company_name
          %dt= t(:login_email)
          %dd= @account.email
      #bank-accounts
        %h3
          = t(:bank_accounts)
          = link_to t(:see_all), itps_party_bank_accounts_path(@account.party)
        - if @account.bank_accounts.blank?
          %p= t(:you_have_no_bank_accounts)
        - bank_accounts = @account.bank_accounts.order('created_at desc').limit(3)
        %dl
          %dt
            = t(:balance)
          %dd
            $
            = @account.party.money_balance
        = render partial: 'itps/accounts/bank_account', collection: bank_accounts
      #actions
        %h3= t(:actions)
        %ul
          %li
            = link_to new_itps_escrow_path do
              %figure
                %i.new-contract
              = t(:new_contract)
          %li
            = link_to new_itps_party_bank_account_path(@account.party) do
              %figure
                %i.new-bank-account
              = t(:add_bank)
      #contracts
        #contracts-active
          %h3
            = t(:active_contracts)
            = link_to t(:show_all), itps_party_escrows_path(@account.party, type: :active)
          %ul= render partial: 'itps/accounts/escrow', collection: @account.active_escrows
          - if @account.active_escrows.blank?
            %p= t(:none)
        #contracts-in-progress
          %h3
            = t(:in_progress_contracts)
            = link_to t(:show_all), itps_party_escrows_path(@account.party, type: :unready)
          %ul= render partial: 'itps/accounts/escrow', collection: @account.in_progress_escrows
          - if @account.in_progress_escrows.blank?
            %p= t(:none)
        #contracts-archived
          %h3
            = t(:archived_contracts)
            = link_to t(:show_all), itps_party_escrows_path(@account.party, type: :archive)
          %ul= render partial: 'itps/accounts/escrow', collection: @account.archived_escrows
          - if @account.archived_escrows.blank?
            %p= t(:none)
      #preferences
        %h3
          = t(:preferences)
          = link_to t(:show_all), itps_account_preferences_path(@account)
        %dl
          %dt= t(:some_preference)
          %dd= t(:some_option)