%li
  = link_to itps_document_path(document.permalink) do
    %h4.document{ :class => document.status }
      %i{ :class => document.status }
      = document.title
    %dl
      %dt= t(:status)
      %dd= t(document.status)
      %dt= t(:description)
      %dd= document.description