#hero-banner{ :class => @step.status }
  %section
    = link_to itps_escrow_path(@step.escrow.permalink) do
      %h1
        %span.colon
          = t(:escrow_step)
          = @step.position
        = t @step.status

#steps-content
  #cookie-crumbs
    %ol
      %li= link_to t(:escrow_page), itps_escrow_path(@step.escrow.permalink)
      %li= link_to @step.title, itps_step_path(@step.permalink)
  #basic-information
    %h2
      = h @step.title
      %span.parantheses= t @step.class_name
    %dl
      %dt= t(:title)
      %dd= h @step.title
      %dt= t(:instructions)
      %dd
        - if @step.instructions.present?
          = @step.instructions
        - else
          = t(:none_given)
    %dl
      %dt= t(:step_position)
      %dd= @step.position
      - if @step.payin_step?
        %dt= t(:special_notice)
        %dd= t(:the_payin_step_requires_the_buyer_to_fund_the_contract_escrow_account)
      - if @step.payout_step?
        %dt= t(:special_notice)
        %dd= t(:the_seller_may_receive_funds_from_the_escrow_account_upon_completion_upto_the_payout_step)
  - if @step.memo.present?
    #memo.row
      %h2= t(:memo_notes)
      .memo-notes= @step.memo_markedown
  #executive-actions
    %h2= t(:actions)
    %ul
      %li
        = link_to itps_escrow_path(@step.escrow.permalink) do
          %figure
            %i.back
          = t(:back)
      %li
        = link_to payment_instructions_itps_escrow_path(@step.escrow.permalink) do
          %figure
            %i.fa-book
          = t(:view_instructions)
      - if @step.escrow.locked?
        %li
          = link_to approve_itps_step_path(@step.permalink), method: :put do
            %figure
              %i.approve
            = t(:approve)
      - if @step.edit_mode?
        %li
          = link_to edit_itps_step_path(@step.permalink) do
            %figure
              %i.edit
            = t(:edit)
        %li
          = link_to new_itps_step_document_path(@step.permalink) do
            %figure
              %i.document
            = t(:add_document)
        %li
          = link_to itps_step_path(@step.permalink), method: :delete do
            %figure
              %i.destroy
            = t(:destroy)
  #documents
    %h2= t(:documents)
    - if @step.documents.present?
      %ul= render partial: 'itps/steps/document', collection: @step.documents
    - else
      .parantheses= t(:no_documents)
