#hero-banner
  %section
    %h1= t(:edit_money_transfer)

#new-bank-account
  = form_for @form_helper, url: itps_admin_money_transfer_path(@money_transfer), method: :put do |f|
    %fieldset
      %dl
        %dt= f.label :name_on_account, t(:name_on_account_where_money_came_from)
        %dd= f.text_field :name_on_account
        %dt= f.label :bank_name, t(:name_of_bank_where_money_came_from)
        %dd= f.text_field :bank_name
        %dt.required= f.label :routing_number, t(:bank_routing_number)
        %dd= f.text_field :routing_number
        %dt.required= f.label :account_number, t(:account_number)
        %dd= f.text_field :account_number
        %dt.required= f.label :dollar_amount, t(:amount_paid)
        %dd= f.number_field :dollar_amount, min: 0, step: 0.01
        %dt= f.label :memo, t(:memo)
        %dd= f.text_field :memo
      %article
        = render partial: 'itps/shared/errors', locals: { errors: @form_helper.errors }
        %p You're editing money transfer details. You should ONLY do this if you've made a mistake or typo.
        %figure
          = image_tag 'newcheckimg.gif'
        %span.rou-num= f.label :routing_number, t(:bank_routing_number)
        %span.acc-num= f.label :account_number, t(:account_number)
    %fieldset
      %article
        = button_tag type: :submit do
          %i.submit
          = t(:submit)
        = link_to itps_admin_money_transfer_path(@money_transfer), type: :reset do
          %i.reset
          = t(:cancel)