%section
  %article#footer-stats
    %dl
      %dt= t(:active_for)
      %dd= time_ago_in_words 15.years.ago
    %dl
      %dt= t(:total_transfers)
      %dd= 299999 + 3 * (DateTime.now - DateTime.parse("June 3, 1999")).to_i
  %ul#footer-links
    %li= link_to t(:aboutus), itps_aboutus_path
    %li= link_to t(:terms_of_service), itps_terms_path
    %li= link_to t(:documentation), itps_documentation_path
    %li= link_to t(:status), itps_status_path
    %li= link_to t(:privacy), itps_legal_path
  %article#footer-logos
    %figure
      © 1999 - 2014
      %span ITPS

