%section
  %article#internationalization
    Implement flags
  %ul#footer-links
    %li= link_to t(:aboutus), itps_aboutus_path
    %li= link_to t(:terms_of_service), itps_terms_path
    %li= link_to t(:documentation), itps_documentations_path
    %li= link_to t(:status), itps_status_path
    %li= link_to t(:privacy), itps_legal_path
  %article#footer-logos
    %figure
      © 1999 - 2014
      %span ITPS

