- active_test = lambda { |path| request.fullpath.split("?").first.to_s == path.to_s }
- full_test = lambda { |paths| paths.inject(false) { |mem, path| mem || active_test.call(path) } }
- activation = lambda { |*paths| full_test.call(paths) ? :active : :inactive }

%nav
  .logo= link_to company_common_name, itps_path
  .toggle
    - if params[:nav].to_s == "show"
      = link_to append_query_to_path nav: :hide do
        %figure
          %i.show-nav
    - else
      = link_to append_query_to_path nav: :show do
        %figure
          %i.hide-nav
  %ul{ :class => params[:nav] == "show" ? "shown" : "hidden-to-mobile" }
    %li{ :class => activation.call(itps_usage_path) }
      = link_to t(:usage), itps_usage_path
    %li{ :class => activation.call(itps_faq_path) }
      = link_to t(:faq), itps_faq_path
    - if user_signed_in?
      %li{ :class => activation.call(itps_account_path current_user)}
        = link_to t(:me), itps_account_path(current_user)
    - else
      %li{ :class => activation.call(itps_login_path)}
        = link_to t(:sign_in), itps_login_path(back: back_path)
    %li{ :class => activation.call(itps_documentation_path)}
      = link_to t(:help), itps_documentation_path
    - if current_account.try(:admin?)
      %li{ :class => activation.call(itps_admin_path(current_account))}
        = link_to t(:admin), itps_admin_path(current_account)