%nav
  %ul
    %li.logo= link_to 'ITPS', itps_path
    %li.active= link_to t(:usage), itps_usage_path
    %li= link_to t(:faq), itps_faq_path
    %li= link_to t(:documentation), itps_documentation_path
    %li= link_to t(:help), itps_help_path