- active_test = lambda { |path| request.fullpath.split("?").first.to_s == path.to_s }
- full_test = lambda { |paths| paths.inject(false) { |mem, path| mem || active_test.call(path) } }
- activation = lambda { |*paths| full_test.call(paths) ? :active : :inactive }

.container
  %nav.row
    .logo{ :class => activation.call(itps_path) }
      = link_to company_common_name, itps_path
    .toggle
      - if params[:nav].to_s == "show"
        = link_to append_query_to_path nav: :hide do
          %figure
            %i.fa-bars
      - else
        = link_to append_query_to_path nav: :show do
          %figure
            %i.fa-bars
    %ul.navigation{ :class => params[:nav] == "show" ? "shown" : "hidden-to-mobile" }
      %li.main-nav{ :class => activation.call(itps_buy_path) }
        = link_to itps_buy_path do
          = t(:buy)
          %i.fa-chevron-down
      %li.main-nav{ :class => activation.call(itps_sell_path) }
        = link_to itps_sell_path do
          = t(:sell)
          %i.fa-chevron-down
      %li.miscellanious{ :class => activation.call(itps_miscellanious_path) }
        = link_to itps_miscellanious_path do
          = t(:other)
          %i.fa-chevron-down
    