#hero-banner
  %section
    %h1= t(:documentation_and_help)

#meat-and-bones
  %section
    #left-navigation
      %ul= render partial: 'itps/doc_tags/nav_tag', collection: Itps::Tag.roots
    
    #right-content
      %article
        %h3= t(:documentation_index)
        %p= "Documentation live here. Please browse to get a feel how to use our service."
        %h4= t(:popular_subjects)
        %ul
          %li= link_to t(:usage), itps_usage_path
          %li= link_to t(:faq), itps_faq_path
          %li= link_to t(:about), itps_aboutus_path
        %h4= t(:have_other_questions_or_issues?)
        %p= t(:please_send_all_other_such_inquiry_to)
        %p= mail_to 'globaltradepayment@gmail.com'
