#hero-banner
  %section
    %h1= t(:account_creation)

#new-session-new
  = form_for @form_helper, url: itps_account_registration_path do |f|
    %fieldset
      = f.hidden_field :back, value: params[:back]
      %dl
        %dt= f.label :company_name, t(:company_name)
        %dd= f.text_field :company_name
        %dt= f.label :email, t(:login_email)
        %dd= f.email_field :email
        %dt= f.label :password, t(:password)
        %dd= f.password_field :password
        %dt= f.label :password_confirmation, t(:password_confirmation)
        %dd= f.password_field :password_confirmation
      %article
        %h4
          = Faker::Lorem.sentence
        %h4
          = link_to t(:login_to_existing_account), new_itps_account_session_path(back: back_path)
        = render partial: 'itps/shared/errors', locals: { errors: @form_helper.errors }
    %fieldset
      %article
        = button_tag type: :submit do
          %i.submit
          = t(:next)
        = button_tag type: :reset do
          %i.reset
          = t(:cancel)