#hero-banner
  %section
    %h1= t(:my_account_preferences)

#preferneces-container
  #dashboard-content
    #table-of-contents
      %ul
        %li= link_to t(:notification_preferences), '#notification-preferences'
        %li= link_to t(:email_preferences), '#email-preferences'
        %li= link_to t(:site_preferences), '#site-preferences'
    #actual-content
      #cookie-crumbs
        %ol
          %li= link_to t(:my_account), itps_account_path(@account)
          %li= link_to t(:preferences)
      #notification-preferences
        %h2= t(:notification_preferences)
        %p= t(:preference_selection_is_currently_locked_sitewide)
        %p= t(:nothing_here_yet)
      #email-preferences
        %h2= t(:email_preferences)
        %p= t(:nothing_here_yet)
      #site-preferences
        %h2= t(:site_preferences)
        %p= t(:nothing_here_yet)