%ul
  %li= link_to t(:summary), '#stockpile-description'
  %li= link_to t(:pictures), '#images-and-thumbnails'
  %li= link_to t(:listing_properties), '#stockpile-properties'
  %li= link_to t(:seller_details), '#seller-details'
  %li= link_to t(:offer_stats), '#offers-stats'
  %li= link_to t(:offer_actions), '#offer-actions'