#hero-banner

#aboutus-content
  %section
    %article
      %h3= t(:executive_summary)
      %p= Faker::Lorem.paragraph
    %article
      %h3= t(:company_mission)
      %p= Faker::Lorem.sentence      
    %article
      %h3= t(:company_location)
      %p= Faker::Lorem.paragraph
      