#hero-banner

#aboutus-content
  %section
    %article
      %h3= t(:foundation_of_trust_for_business)
      %p
        = company_legal_name
        = "is an international merchant friendly service which provides a much needed trustworthy authority figure to ensure the good faith of transaction parties in the world of international business. We believe merchants and entrepreneurs should meet their success or failure through fair competition, intelligent decision making, and unbiased skill - not subversive business practices, dishonest scams, and the difficulties of law enforcement in tackling international criminals."
    %article
      %h3= t(:company_mission)
      %p
        = "The hallmark of the space of international commodities trade has traditionally been mistrust and worry. Finally we are providing the solution to that."
    %article
      %h3= t(:company_location)
      %p
        = company_legal_name
        = "is a Los Angeles based company"
      