#hero-banner{ :class => "dog#{params[:c].to_i}" }
  %section.desktop
    %ul
      - 3.times do |i|
        %li= render 'itps/home/hero_box'
#mobile-banner
  %section
    %ul
      - if user_signed_in?
        %li.primary
          = link_to itps_account_path(current_account) do
            %figure
              %i.account
            = t(:my_account)
        %li
          = link_to itps_party_escrows_path(current_account.party) do
            %figure
              %i.escrows
            = t(:my_escrows)
        %li
          = link_to new_itps_account_escrow_path(current_account) do
            %figure
              %i.new-escrow
            = t(:new_escrow)
      - else
        %li.primary
          = link_to itps_login_path do
            %figure
              %i.login
            = t(:login)
        %li
          = link_to new_itps_escrow_path do
            %figure
              %i.new-escrow
            = t(:create_escrow)


#basic-usage-explanation
  %ul
    %li
      %h1= t(:trust_and_business)
      %figure
        %i.bank-and-check
      %p
        = Faker::Lorem.paragraph(2)
      = link_to t(:overview_usage), itps_usage_path
    %li
      %h1= t(:terms_and_pricing)
      %figure
        %i.pricing
      %p
        = Faker::Lorem.paragraph(2)
      = link_to t(:see_details), itps_terms_path
    %li
      %h1= t(:accessibility)
      %figure
        %i.accessibility
      %p
        = Faker::Lorem.paragraph(2)
      = link_to t(:view_documentation), itps_documentation_path

#available-services.desktop
  %article
    %ul
      - 12.times do
        %li
          %figure
            %i
          %h6= Faker::Company.name