#hero-banner
  %section
    %h1= t(:terms_of_privacy)

#legal-terms-content
  %section
    %h2
      = t(:human_readable)
      = link_to '#printable' do
        %i.print
        = t(:printable)
    %p= Faker::Lorem.paragraph rand 6
    %h2= t(:full_terms)
    %p= Faker::Lorem.paragraph rand 6
    - 10.times do
      %h3= Faker::Lorem.sentence
      %p= Faker::Lorem.paragraph rand 6
