#hero-banner
  %section
    %h1= t(:example_usage)

#usage-content
  %section
    %ul
      %li#create-or-login-account
        %h3
          %span.colon= t(:step_one)
          = t(:create_account_or_login)
        %article
          %p
            = link_to "Log into your account here", itps_login_path
            = "or, if you do not have an account,"
            = link_to "sign up for one here.", itps_signup_path
            = "After, you have signed up,"
            = link_to "visit the escrow creation page", new_itps_escrow_path
            = "to get started. You will need to specify if you are the party rendering the service or the party paying for the service, as well as the other party's email contact information."
          %figure= link_to image_tag 'dog1.jpg'
      %li#specify-escrow-documentation
        %h3
          %span.colon= t(:step_two)
          = t(:specify_completion_path)
        %article
          %p
            = "Once you have created the contract, it's time to add steps and terms to the contract. Draft it as you see fit."
          %figure= link_to image_tag 'dog2.jpg'
      %li#inform-the-other-party
        %h3
          %span.colon= t(:step_three)
          = t(:complete_editing_and_let_the_other_party_know)
        %article
          %p= "Contact the other party as necessary to bat out the details of your contract and, when you both have reached an agreement, lock and activate the drafted contract by clicking the lock button. Once both parties have locked the contract, it will become active."
          %figure= link_to image_tag 'dog3.jpg'
      %li#someone-pays-in
        %h3
          %span.colon= t(:step_four)
          = t(:deposit_funds_into_shared_account)
        %article
          %p= "It is up to the payment party of the escrow contract to deposit funds into the GTPC provided mutual bank account. Once the payment party has paid in, the escrow is said to be open, and the service/goods party should now begin to perform or deliver the goods as specified by the contract."
          %figure= link_to image_tag 'dog1.jpg'
      %li#someone-does-the-work
        %h3
          %span.colon= t(:step_five)
          = t(:work_is_completed)
        %article
          %p= "As the service party completes the work, be sure to document your work as according to the instructions written for each step so that you can provide the necessary proof of having done your agreed to share of the work. When all the proofs are assembled, GTPC will release the in-escrow funds into the account of the service party."
          %figure= link_to image_tag 'dog2.jpg'
      %li#work-and-pay-is-exchanged
        %h3
          %span.colon= t(:step_six)
          = t(:work_is_checked_and_payment_is_made)
        %article
          %p= "After the work has been proven to have been performed and the payment exchanged, the contract is done and archived."
          %figure= link_to image_tag 'dog3.jpg'
