= content_for :sidebar do
  %ul
    %li.active= link_to t(:login), '#login'
    %li= link_to t(:signup), signup_path(back: params[:back])

= form_for :user, url: user_session_path do |f|
  %legend= t(:account_login)
  %fieldset
    %article
      = f.hidden_field :back, value: params[:back]
      = f.label :email
      = f.email_field :email
      
      = f.label :password
      = f.password_field :password

      = f.label :remember_me do
        = t(:remember_me)
        = f.check_box :remember_me, checked: true

    %article
      = button_tag type: :submit do
        %i.signin
        = t(:signin)

      = button_tag type: :reset do
        %i.reset
        = t(:reset)

  %section
    %p= Faker::Lorem.paragraph
    - if params[:back].present?
      %p
        = t(:after_you_sign_up_redirecting_back_to)
        = params[:back]
    %p
      = t(:no_account?)
      = link_to signup_path(back: params[:back]) do
        %i.signup
        = t(:signup)