#hero-banner
  %section
    %h1= t(:other_party_details)

.container
  #cookie-crumbs
    %ol
      %li= link_to t(:home), itps_path
      %li= link_to t(:buy), itps_buy_path
      %li= link_to t(:new_international_purchase_contract), edit_itps_buy_international_path(@draft.permalink)
      %li.active= t(:other_party)
      %li= t(:commodities_and_terms)
      %li= t(:price_deductions)
      %li= t(:required_documents)
      %li= t(:review)
      %li= t(:finish)
  .row
    #generic-form
      = form_for @form_helper, url: itps_draft_party_path(@draft.permalink), method: :put do |f|
        .row
          %h2= t(:seller_information)
          %dl.fields
            %dt.required= f.label :seller_email, t(:contact_email)
            %dd.input= f.email_field :seller_email
            %dt.required= f.label :seller_company_name, t(:company_name)
            %dd.input= f.text_field :seller_company_name
            %dt= f.label :seller_phone_number, t(:phone_number)
            %dd.input= f.telephone_field :seller_phone_number
            %dt.required= f.label :seller_address1, t(:street_address)
            %dd.input= f.text_field :seller_address1
            %dt= f.label :seller_address2, t(:secondary_address)
            %dd.input= f.text_field :seller_address2
            %dt.required= f.label :seller_city, t(:city)
            %dd.input= f.text_field :seller_city
            %dt.required= f.label :seller_province, t(:state_or_province)
            %dd.input= f.text_field :seller_province
            %dt.required= f.label :seller_country, t(:country)
            %dd.input= f.select :seller_country, ['United States']
          %aside.explanation
            = render partial: 'itps/shared/errors', locals: { errors: @form_helper.errors }
            %p= t(:please_provide_the_contact_details_of_the_party_you_will_be_dealing_with)
            %p= t(:if_you_do_not_know_the_other_partys_contact_details_please_get_it_from_them)
            %p= t(:if_the_other_party_refuses_to_give_you_their_address_details_reconsider_doing_business_with_them)
        .row
          .actions
            = button_tag type: :submit do
              %i.submit
              = t(:next)
            = link_to edit_itps_buy_international_path(@draft.permalink), type: :reset do
              %i.reset
              = t(:cancel)