#hero-banner
  %section
    %h1= t(:new_international_purchase_contract)

.container
  #cookie-crumbs
    %ol
      %li= link_to t(:home), itps_path
      %li= link_to t(:buy), itps_buy_path
      %li= t(:new_international_purchase_contract)
      %li= t(:other_party)
      %li= t(:commodities_and_terms)
      %li= t(:required_documents)
      %li= t(:review)
      %li= t(:finish)
  .row
    #generic-form
      = form_for @form_helper, url: itps_buy_internationals_path do |f|
        .row
          %h2= t(:buyer_information)
          %dl.fields
            %dt= t(:my_contact_email)
            %dd= current_account.email
            %dt.required= f.label :buyer_company_name, t(:my_company_name)
            %dd.input= f.text_field :buyer_company_name
            %dt.required= f.label :buyer_address1, t(:street_address)
            %dd.input= f.text_field :buyer_address1
            %dt= f.label :buyer_address2, t(:secondary_address)
            %dd.input= f.text_field :buyer_address2
            %dt.required= f.label :buyer_city, t(:city)
            %dd.input= f.text_field :buyer_city
            %dt.required= f.label :buyer_province, t(:state_or_province)
            %dd.input= f.text_field :buyer_province
            %dt.required= f.label :buyer_country, t(:country)
            %dd.input= f.select :buyer_country, ['United States']
          %aside.explanation
            = render partial: 'itps/shared/errors', locals: { errors: @form_helper.errors }
            = t(:please_confirm_that_your_company_information_is_correct)
        .row
          .actions
            = button_tag type: :submit do
              %i.submit
              = t(:next)
            = link_to itps_buy_path, type: :reset do
              %i.reset
              = t(:cancel)