#hero-banner
  %section
    %h1= t(:account_login)

#new-session-new
  = form_for :account, url: itps_account_session_path do |f|
    %fieldset
      %dl
        %dt= f.label :email, t(:login_email)
        %dd= f.email_field :email
        %dt= f.label :password, t(:password)
        %dd= f.password_field :password
      %article
        %h4
          = Faker::Lorem.sentence
        %h4
          = link_to t(:new_account), new_itps_account_registration_path(back: back_path)
    %fieldset
      %article
        = button_tag type: :submit do
          %i.submit
          = t(:next)
        = button_tag type: :reset do
          %i.reset
          = t(:cancel)