#hero-banner
  %section
    %h1= t(:edit_document_requirements)

= form_for @document, url: itps_document_path(@document.permalink), method: :put do |f|
  %fieldset
    %dl
      %dt= f.label :title, t(:document_name)
      %dd= f.text_field :title
    %p= Faker::Lorem.paragraph
  %fieldset
    %dl
      %dt= f.label :description, t(:document_description)
      %dd= f.text_area :description
    %p= Faker::Lorem.paragraph
  %fieldset
    %section
      = button_tag type: :submit do
        %i.submit
        = t(:submit)
      = link_to itps_document_path(@document.permalink), type: :reset do
        %i.reset
        = t(:cancel)
