#hero-banner
  %section
    %h1= t(:commodities_and_terms)

.container
  #cookie-crumbs
    %ol
      %li= link_to t(:home), itps_path
      %li= link_to t(:buy), itps_buy_path
      %li= link_to t(:new_international_purchase_contract), edit_itps_buy_international_path(@draft.permalink)
      %li= link_to t(:other_party), edit_itps_draft_party_path(@draft.permalink)
      %li.active= t(:commodities_and_terms)
      %li= t(:price_deductions)
      %li= t(:required_documents)
      %li= t(:review)
      %li= t(:finish)
  .row
    %h2= t(:purchase_order_items)
    .items= render partial: 'itps/drafts/commodities/item', collection: @draft.items
  .row
    .items
      = render partial: 'itps/drafts/commodities/item', locals: { draft: @draft, item: @item || @draft.items.new }
  
  = form_for @form_helper, url: itps_draft_commodity_path(@draft.permalink), method: :put do |f|
    .row
      %h2= t(:shipment_terms)
      %dl.big-fields
        %dt= t(:total_amount)
        %dd
          $
          = number_with_delimiter @draft.total_cost, delimiter: ','
        %dt.required= f.label :price_terms, t(:price_terms)
        %dd.price-terms.input
          .input-group
            .input-group-addon
              - opts = [@form_helper.price_terms] + Itps::Drafts::International::Incoterms
              = f.select :price_terms, options_for_select(opts)
            = f.text_field :destination
        %dt= f.label :days_seller_has_to_load, t(:days_seller_has_to_load_after_escrow_funding)
        %dd.input
          = f.number_field :days_seller_has_to_load, step: 1
        
      %aside.small-explanation
        = render partial: 'itps/shared/errors', locals: { errors: @form_helper.errors }
        %p= t(:please_provide_the_price_commodity_and_quantity_of_each_item_you_will_purchase)
    .row
      .big-actions
        = button_tag type: :submit do
          %i.submit
          = t(:next)
        = link_to edit_itps_draft_party_path(@draft.permalink), type: :reset do
          %i.reset
          = t(:cancel)