!!!5
/ [if lt IE 7 ]
  %html.ie.ie6{ lang: I18n.locale }
/ [if IE 7 ]
  %html.ie.ie7{ lang: I18n.locale }
/ [if IE 8 ]
  %html.ie.ie8{ lang: I18n.locale }
/ [if IE 9 ]
  %html.ie.ie9{ lang: I18n.locale }
/ [if gt IE 9]
  %html{ lang: I18n.locale }

%head
  = render partial: 'itps/shared/admin_head'
%body
  #the-flash
    = render partial: 'itps/shared/flash'
  %header
    = render partial: 'itps/shared/header'
  %main
    %div{ :id => main_content_div_id }= yield
  %footer
    = render partial: 'itps/shared/footer'
  %section#misc-invisible-crap
    = render partial: 'itps/shared/invisible'
      