#hero-banner
  %section
    %h1= t(:account_creation)

#new-session-new
  = form_for :user, url: user_registration_path do |f|
    %fieldset
      = f.hidden_field :back, value: params[:back]
      = f.hidden_field :origin, value: :itps
      %dl
        %dt= f.label :email, t(:login_email)
        %dd= f.email_field :email, value: params[:email]
        %dt= f.label :password, t(:password)
        %dd= f.password_field :password
        %dt= f.label :password_confirmation, t(:password_confirmation)
        %dd= f.password_field :password_confirmation
      %article
        %h4
          = "You need to register an account as contracts between parties involve both money and services."
          = "If you already have an account, you may log into it."
        %h4
          = link_to t(:login_to_existing_account), itps_login_path(back: back_path)
        = render partial: 'itps/shared/errors', locals: { errors: @form_helper.errors }
    %fieldset
      %article
        = button_tag type: :submit do
          %i.submit
          = t(:submit)
        = button_tag type: :reset do
          %i.reset
          = t(:cancel)