= content_for :sidebar do
  %ul
    %li= link_to t(:finalized_offer_summary), '#finalized-offer-summary'
    %li
      = link_to t(:steps_to_completion), '#finalization-steps'
      %ul
        - @finalization.downcast_escrow_steps.each do |e|
          %li= link_to e.presentation, "##{e.permalink}"


#finalized-offer-summary
  %h2= t(:finalized_offer_summary)
  - offer = @finalization.offer
  %dl
    %dt= t(:listing_by)
    %dd
      = link_to offer.seller.name, shop_path(offer.seller)
      = render 'spree/shared/stars/five', shop: offer.seller
    %dt= t(:offered_by)
    %dd
      = link_to offer.buyer.name, shop_path(offer.buyer)
      = render 'spree/shared/stars/five', shop: offer.buyer
    %dt= t(:expiration_date)
    %dd= @finalization.expires_at_as_date
  %dl
    %dt= t(:shipping_terms)
    %dd= offer.shipping_terms
    - if Spree::Offer::EXWORKS == offer.shipping_terms
      %dt= t(:pickup_location)
      %dd= offer.origination.full_romanization
    - else
      %dt= t(:shipping_destination)
      %dd= offer.destination.full_romanization
    %dt= t(:price_per_pound)
    %dd
      %i.dollars
      = offer.usd_per_pound
    %dt= t(:loads)
    %dd= offer.loads
    %dt= t(:minimum_weight)
    %dd= offer.minimum_weight_presentation

#finalization-steps
  %h2= t(:steps_to_completion)
  %ul= render partial: 'spree/finalizations/escrow_step', collection: @finalization.downcast_escrow_steps
