#header-logo
  = link_to root_path do
    %figure
    %span Company Name

- back_path = request.fullpath
- if this_is_the_login_page? || this_is_the_signup_page?
  - back_path = params[:back]
#header-sessions
  - if user_signed_in?
    = link_to shop_path current_shop do
      %figure
        %i.shop
      %h6= t(:my_shop)
    = link_to user_path current_user do
      %figure
        %i.user
      %h6= t(:my_account)
  - else
    = link_to login_path(back: back_path) do
      %figure
        %i.login
      %h6= t(:login)
    = link_to signup_path(back: back_path) do
      %figure
        %i.signup
      %h6= t(:signup)

#header-search
  = form_for :searches, url: searches_path, method: :get do |f|
    %article
      = f.search_field :query
      %span
        = button_tag do
          %i{ :class => "search" }