%li{ :class => money_transfer.status }
  = link_to itps_admin_money_transfer_path money_transfer do
    %h4
      %span.colon= t(:status)
      = t money_transfer.status
      %i
      = money_transfer.dollar_amount
    %dl
      %dt= t(:routing_number)
      %dd= money_transfer.routing_number
    %dl
      %dt= t(:account_number)
      %dd= money_transfer.account_number
    %dl
      %dt= t(:memo)
      %dd= money_transfer.memo || t(:nothing_here)
