#hero-banner
  %section
    %h1= t(:my_account_profile)

#admin-container
  .nine-to-three
    #table-of-contents
      %ul
        %li= link_to t(:site_statistics), '#site-statistics'
        %li= link_to t(:account_information), '#about-this-account'
        %li= link_to t(:executive_actions), '#documentation-summary'
        %li= link_to t(:money_transfer_summary), itps_admin_money_transfers_path
        %li= link_to t(:escrow_documents), itps_admin_documents_path

    #dashboard
      #site-statistics
        %h2= t(:site_statistics)
        %dl
          %dt= t(:total_accounts)
          %dd= Itps::Account.count
          %dt= t(:total_parties)
          %dd= Itps::Party.count
        %dl
          %dt= t(:total_escrows)
          %dd= Itps::Escrow.count
          %dt= t(:total_documents)
          %dd= Itps::Escrows::Document.count
        %dl
          %dt= t(:active_escrows)
          %dd= Itps::Escrow.active.count
          %dt= t(:archived_escrows)
          %dd= Itps::Escrow.completed.count
      #about-this-account
        %h2
          = t(:account_number)
          = @account.id
        %dl
          %dt= t(:email)
          %dd= @account.email
          %dt= t(:associated_party)
          %dd= @account.party.company_name
        %dl
          %dt= t(:roles)
          %dd= @account.roles.map(&:role_name).join ", "
          %dt= t(:created_at)
          %dd= @account.created_at
      #documentation-summary
        %h2= t(:executive_actions)
        %article
          = link_to new_itps_admin_documentation_path do
            %figure
              %i.new-doc
            = t(:new_doc)
        %article
          = link_to new_itps_admin_tag_path do
            %figure
              %i.new-tag
            = t(:new_root_tag)
        %article
          = link_to new_itps_admin_inbound_transfer_path do
            %figure
              %i.new-deposit
            = t(:money_in)
        %article
          = link_to new_itps_admin_outbound_transfer_path do
            %figure
              %i.new-out
            = t(:money_out)
        %article
          = link_to itps_admin_escrows_path do
            %figure
              %i.escrows
            = t(:contracts_index)
      #money-transfers-summary
        %h2= link_to t(:money_transfers_summary), itps_admin_money_transfers_path
        %dl
          %dt= t(:unclaimed_transfers)
          %dd= Itps::MoneyTransfer.unclaimed.count
        %dl
          %dt= t(:current_balance)
          %dd= Itps::MoneyTransfer.bank_balance || t(:no_transfers_yet)
        - monies = Itps::MoneyTransfer.unclaimed.order("updated_at desc").limit(3)
        %ul= render partial: 'itps/admins/money_transfer', collection: monies
      #escrow-documents-summary
        %h2= link_to t(:escrow_documents_summary), itps_admin_documents_path          
        %dl
          %dt= t(:docs_needs_approval)
          %dd= Itps::Escrows::Document.waiting_approval.count
        - docs = Itps::Escrows::Document.waiting_approval.order("updated_at desc").limit(3)
        %ul= render partial: 'itps/admins/document', collection: docs