#hero-banner
  %section
    %h1= t(:account_login)

#new-session-new
  = form_for :user, url: user_session_path do |f|
    = f.hidden_field :origin, value: :itps
    = f.hidden_field :back, value: params[:back]
    %fieldset
      %dl
        %dt= f.label :email, t(:login_email)
        %dd= f.email_field :email
        %dt= f.label :password, t(:password)
        %dd= f.password_field :password
      %article
        %h4
          = Faker::Lorem.sentence
        %h4
          = link_to t(:new_account), itps_signup_path(back: back_path)
    %fieldset
      %article
        = button_tag type: :submit do
          %i.submit
          = t(:login)
        = button_tag type: :reset do
          %i.reset
          = t(:cancel)