#hero-banner
  %legend
    %h1= t(:escrow_copy_form)

= form_for @form_helper, url: itps_escrow_escrows_path(@escrow.permalink) do |f|
  #cookie-crumbs
    %ol
      %li= link_to t(:original_escrow), itps_escrow_path(@escrow.permalink)
      %li= link_to t(:clone_escrow_details)
  %fieldset
    %h3= t(:associated_party_details)
    %article
      %dl
        %dt= f.label :other_party_company_name, t(:other_company_name)
        %dd= f.text_field :other_party_company_name
        %dt= f.label :other_party_email, t(:other_company_email)
        %dd= f.email_field :other_party_email
      %dl
        %dt= f.label :my_role, t(:i_am_the_payment_party)
        %dd= f.radio_button :my_role, :payment_party, checked: true
        %dt= f.label :my_role, t(:i_am_the_service_party)
        %dd= f.radio_button :my_role, :service_party, checked: false
    %article
      = render partial: 'itps/shared/errors', locals: { errors: @form_helper.errors }
      %p You still need provide the contact details for the other party and we will take care of the rest of copying over the details of each step.
  %fieldset
    %section
      = button_tag type: :submit do
        %i.submit
        = t(:confirm)
      = link_to itps_escrow_path(@escrow.permalink), type: :reset do
        %i.reset
        = t(:cancel)
